.countdown-section{

padding:60px 20px;

text-align:center;

}



.countdown-heading h1{

font-size:42px;

color:#ff2d75;

text-shadow:
0 0 20px
rgba(255,45,117,.4);

}



.countdown-heading p{

font-size:18px;

color:#777;

margin-top:15px;

}



.countdown-grid{

margin-top:50px;

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

}



.time-card{

background:

linear-gradient(
145deg,
#ffffff,
#ffe3ef
);

padding:35px 20px;

border-radius:30px;

box-shadow:

0 20px 40px
rgba(0,0,0,.12);

transition:.4s;

position:relative;

overflow:hidden;

}



.time-card:hover{

transform:
translateY(-10px)
scale(1.05);

}



.time-card::before{

content:"";

position:absolute;

width:150px;

height:150px;

background:#ff2d75;

border-radius:50%;

top:-80px;

right:-70px;

opacity:.15;

}



.number{

font-size:55px;

font-weight:800;

color:#ff2d75;

}



.label{

font-size:18px;

margin-top:10px;

color:#444;

font-weight:bold;

}



.birthday-done{

margin:50px auto;

padding:50px;

max-width:700px;

font-size:35px;

font-weight:bold;

color:white;

background:

linear-gradient(
135deg,
#ff2d75,
#ff85c0
);

border-radius:35px;

animation:

birthdayGlow 2s infinite;

}



.birthday-message{

margin-top:50px;

background:white;

padding:35px;

border-radius:25px;

box-shadow:

0 15px 35px
rgba(0,0,0,.1);

}



.birthday-message h2{

color:#ff2d75;

}



.birthday-message p{

color:#555;

font-size:17px;

line-height:1.8;

}



@keyframes birthdayGlow{


0%{

box-shadow:
0 0 10px pink;

}


50%{

box-shadow:
0 0 40px #ff2d75;

}


100%{

box-shadow:
0 0 10px pink;

}


}




@media(max-width:900px){


.countdown-grid{

grid-template-columns:
repeat(2,1fr);

}



}



@media(max-width:500px){


.countdown-grid{

grid-template-columns:
1fr;

}



.countdown-heading h1{

font-size:30px;

}



.number{

font-size:45px;

}


}