.footer{

margin-top:60px;
padding:40px;
text-align:center;
background:#111827;
border-radius:25px;
color:white;

}

.footer h2{

font-size:35px;
margin-bottom:15px;
color:#ff4fa5;

}

.footer p{

font-size:16px;
line-height:2;

}