/* ===================================
   NAVBAR
=================================== */

.navbar{
    width:100%;
    min-height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 25px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border-radius:18px;
    margin-bottom:25px;
    color:white;
}

/* LEFT */

.nav-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.nav-left h2{
    margin:0;
    font-size:24px;
    font-weight:700;
}

/* MOBILE MENU */

.mobile-menu{
    display:none;
    font-size:28px;
    cursor:pointer;
    color:white;
}

/* SEARCH */

.search-box{
    width:350px;
    height:46px;
    display:flex;
    align-items:center;
    gap:10px;
    padding:0 18px;
    background:rgba(255,255,255,.12);
    border-radius:30px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    color:white;
}

.search-box input::placeholder{
    color:#ddd;
}

/* RIGHT */

.nav-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.clock{
    background:#ff2d75;
    padding:10px 16px;
    border-radius:30px;
    font-size:14px;
}

.icon{
    width:44px;
    height:44px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.12);
    cursor:pointer;
    transition:.3s;
}

.icon:hover{
    background:#ff2d75;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile img{
    width:52px;
    height:52px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid hotpink;
}

.profile h4{
    margin:0;
    font-size:15px;
}

.profile small{
    color:#ffd6ea;
}

/* ===========================
   TABLET
=========================== */

@media(max-width:992px){

.search-box{
    display:none;
}

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.navbar{
    padding:15px;
    flex-wrap:wrap;
}

.mobile-menu{
    display:block;
}

.nav-left{
    flex:1;
}

.nav-left h2{
    font-size:19px;
}

.clock{
    display:none;
}

.profile h4,
.profile small{
    display:none;
}

.nav-right{
    width:100%;
    justify-content:center;
    margin-top:12px;
    gap:10px;
}

.icon{
    width:40px;
    height:40px;
}

.profile img{
    width:45px;
    height:45px;
}

}

@media(max-width:480px){

.nav-left h2{
    font-size:17px;
}

}